html {
    overflow-y: scroll;
    overflow: -moz-scrollbars-vertical;
}

.content .container {
    padding-bottom: 2em;
}

#bufferZoneTrigger .iconfont {
    color: inherit;
}

#bufferZoneTrigger a span {
    padding: 8px 10px 0;
    font-size: 12px;
    line-height: 18px;
    font-weight: lighter;
}

#bufferZoneDownloader {
    position: absolute;
    width: 758px;
    border: 1px solid #949494;
    background-color: white;
    padding: 10px;
}

.accountZone {
    height: 30px;
    padding: 17px 20px;
    background: #f5f5f5;
    border-bottom: 1px #e6e6e6 solid;
}

.accountZone div.accountSwitch {
    font-size: 14px;
}

.infobar {
    padding: 30px 20px 0 20px;
}

.hr-table-top {
    width: 950px;
    margin: 10px 20px 8px 20px;
}

.hr-table-top + .scrollWrapper .mi-table-concise th {
    border-top: 0;
}

/*action buttons*/
.action-buttons .mi-button-swhite {
    background-position: 0 -531px;
}

.action-buttons .mi-button-swhite .mi-button-text {
    background-position: right -531px;
    height: 32px;
}

.action-buttons a.mi-button-swhite:hover, .action-buttons .mi-button-swhite-hover {
    background-position: 0 -564px;
}

.action-buttons a.mi-button-swhite:hover .mi-button-text, .action-buttons .mi-button-swhite-hover .mi-button-text {
    background-position: right -564px;
}

.action-buttons .mi-button-swhite-download .mi-button-text {
    width: 48px;
}

.action-buttons .mi-button-swhite-download .mi-button-icon, .action-buttons .mi-button-swhite-download-disabled .mi-button-icon {
    top: 10px;
}

.action-buttons .mi-button-swhite-download .mi-button-menu, .action-buttons .mi-button-swhite-download-disabled .mi-button-menu {
    background: url("https://i.alipayobjects.com/e/201304/9D8AO1pv5.png") no-repeat 0 0;
    position: absolute;
    left: 30px;
    top: 10px;
    width: 8px;
    height: 12px;
    background-position: -91px 4px;
}

.action-buttons .mi-button-swhite-print .mi-button-icon, .action-buttons .mi-button-swhite-print-disabled .mi-button-icon {
    top: 10px;
}

.action-buttons .mi-button-swhite-config .mi-button-icon, .action-buttons .mi-button-swhite-config-disabled .mi-button-icon {
    top: 10px;
}

.panel-container {
    position: relative;
    clear: both;
}

.mi-panel {
    position: absolute;
    border: solid 1px #949494;
    background: #ffffff;
    padding: 10px 0;
}

.panel-download {
    width: 200px;
    padding-bottom: 0;
}

.panel-download .list-item {
    padding: 8px 12px;
}

.panel-download .list-item i {
    float: left;
    width: 16px;
    height: 16px;
    background: url('https://i.alipayobjects.com/e/201306/Xg7Gn3bf3.png') no-repeat;
    margin-right: 12px;
}

.panel-setting {
    width: 700px;
    padding: 0;
}

.panel-setting .panel-title {
    padding: 10px 20px;
    border-bottom: solid 1px #eee;
}

.panel-setting .panel-title h3 {
    font-size: 16px;
}

.panel-setting .panel-close {
    position: absolute;
    right: 10px;
    top: 12px;
    font-size: 14px;
}

.panel-setting .header-tip {
    padding: 20px 20px 10px;
}

.panel-setting .setting-list {
    padding: 0 20px 15px;
    border-bottom: solid 1px #ddd;
    font-size: 14px;
}

.panel-setting .list-item {
    width: 25%;
    padding: 8px 0;
}

.panel-setting .actions {
    padding: 10px 20px 10px;
    text-align: right;
    border-top: solid 1px #fff;
    background: #f6f6f6;
}

.download-list .list-link {
    padding: 0;
}

.download-list .help {
    padding: 0 10px 0 12px;
    margin-right: 0;
}

.download-list .list-csv .icon {
    background-position: bottom left;
}

.download-list .list-pdf .icon {
    background: url("https://i.alipayobjects.com/e/201309/1BeaPx0j67.png") no-repeat scroll 0 -160px;
}

.download-list .list-link {
    float: left;
    display: block;
    width: 100%;
}

.download-list .help {
    padding-top: 12px;
    padding-bottom: 12px;
    margin-top: 4px;
    background: #f6f6f6;
}

.download-list .help .mi-message {
    font-size: 12px;
}

.loading-xbox, .error-xbox {
    padding: 40px 50px;
    text-align: center;
}

.loading-xbox h4, .error-xbox h4 {
    font-size: 14px;
    font-weight: 700;
    margin: 10px 0 6px;
}

.sys-error-box {
    padding: 0 20px;
    margin-top: 50px;
}

/*
 * fix for mi-button
 */
.mi-button-mwhite-disabled {
    cursor: default;
}

#datetimeStepper {
    padding-left: 1em;
}

#datetimeRangePicker {
    border: 1px solid white;
    padding: 0 3px;
    width: 205px;
    vertical-align: middle;
    font-size: 20px;
    font-family: Verdana;
}

#datetimeRangePicker.clickable {
    cursor: pointer;
}

#datetimeRangePicker.clickable:hover {
    text-decoration: underline;
}

#datetimeRangePicker.icon-pull-down {
    border: 1px solid silver;
    box-shadow: 1px 1px 9px #ccc;
    padding-right: 30px;
    display: inline-block;
    zoom: 1;
    background: #fff url("https://i.alipayobjects.com/e/201305/N1ZqmqLeH.png") no-repeat right 1px;
}

/**
 * download tmp area
 */
.mi-form-explain {
    clear: both;
}

.footq2a {
    padding: 10px 20px;
}

.footq2a h1 {
    margin: 30px 0 10px 0;
}

.footq2a .qa .question {
    margin: 0 0 10px 0;
}

.footq2a .qa {
    padding: 10px 20px;
}

.footq2a .qa li {
    list-style: outside disc none;
}

.fn-ml24 {
    margin-left: 24px;
}
